body {
}

a.contactLinks{
    color: orange;
}

i.fa-home{
    color: orange;
}

i.fa-phone {
    color: orange;
}

i.fa-briefcase {
    color: orange;
}

#left {
    float: left;
    width: 30%;
    height: 100%;
}
#right {
    height: 100%;
    width: 70%;
    float: left;
    
}

#contactMain {
    text-align: left;
    
}
