body {
}

a.contactLinks{
    color: orange;
}

i.fa-home{
    color: orange;
}

i.fa-phone {
    color: orange;
}

i.fa-briefcase {
    color: orange;
}

#left {
    float: left;
    width: 30%;
    height: 100%;
    padding-top:25px;
    padding-left: 10px;
    
}
#right {
    height: 100%;
    width: 60%;
    float: left;
    padding-left:20px;
    padding-top: 25px;
    
}

#contactMain {
    text-align: left;
}

a {
    padding-top: 20px;
}

.divLeftTop{
    padding-top: 20px;
    color: grey;
}
.divLeftBottom{
    padding-bottom: 20px;
    color: grey;
}

